// Reglas de tipografía globales
@use '../abstracts/variables';

body { 
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    font-family: 'Inter', Arial, sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

